In [14]:
import pandas as pd
def format_city(a): #this func to emphasize the countries
    a["name"]
    return a["name"]
countries = ["England","Wales"]

In [15]:
teams = pd.read_json("/Users/macbook/Desktop/Lev/Sapienza/ADM_Labs/HW2/Data/teams.json")
teams["country"] = teams["area"].apply(format_city) #to extract the countries from the first columns which is a dict
teams = teams.loc[teams["country"].isin(countries)].reset_index(drop = True)
teams = teams.loc[teams["type"] != "national"] #drop wales and england because it is national club
teams

,area,city,name,officialName,type,wyId,country
0,"{'name': 'England', 'id': '0', 'alpha3code': '...",Newcastle upon Tyne,Newcastle United,Newcastle United FC,club,1613,England
1,"{'name': 'England', 'id': '0', 'alpha3code': '...","Huddersfield, West Yorkshire",Huddersfield Town,Huddersfield Town FC,club,1673,England
2,"{'name': 'Wales', 'id': '0', 'alpha3code': 'XW...",Swansea,Swansea City,Swansea City AFC,club,10531,Wales
3,"{'name': 'England', 'id': '0', 'alpha3code': '...","Bournemouth, Dorset",AFC Bournemouth,AFC Bournemouth,club,1659,England
4,"{'name': 'England', 'id': '0', 'alpha3code': '...","Brighton, East Sussex",Brighton & Hove Albion,Brighton & Hove Albion FC,club,1651,England
5,"{'name': 'England', 'id': '0', 'alpha3code': '...","Burnley, Lancashire",Burnley,Burnley FC,club,1646,England
6,"{'name': 'England', 'id': '0', 'alpha3code': '...",Leicester,Leicester City,Leicester City FC,club,1631,England
7,"{'name': 'England', 'id': '0', 'alpha3code': '...",London,West Ham United,West Ham United FC,club,1633,England
8,"{'name': 'England', 'id': '0', 'alpha3code': '...",Stoke-on-Trent,Stoke City,Stoke City FC,club,1639,England
9,"{'name': 'England', 'id': '0', 'alpha3code': '...",Watford,Watford,Watford FC,club,1644,England
10,"{'name': 'England', 'id': '0', 'alpha3code': '...",Liverpool,Everton,Everton FC,club,1623,England
11,"{'name': 'England', 'id': '0', 'alpha3code': '...",West Bromwich,West Bromwich Albion,West Bromwich Albion FC,club,1627,England
12,"{'name': 'England', 'id': '0', 'alpha3code': '...",Manchester,Manchester City,Manchester City FC,club,1625,England
13,"{'name': 'England', 'id': '0', 'alpha3code': '...",London,Tottenham Hotspur,Tottenham Hotspur FC,club,1624,England
14,"{'name': 'England', 'id': '0', 'alpha3code': '...",London,Crystal Palace,Crystal Palace FC,club,1628,England
15,"{'name': 'England', 'id': '0', 'alpha3code': '...","Southampton, Hampshire",Southampton,Southampton FC,club,1619,England
16,"{'name': 'England', 'id': '0', 'alpha3code': '...",Liverpool,Liverpool,Liverpool FC,club,1612,England
17,"{'name': 'England', 'id': '0', 'alpha3code': '...",London,Chelsea,Chelsea FC,club,1610,England
18,"{'name': 'England', 'id': '0', 'alpha3code': '...",Manchester,Manchester United,Manchester United FC,club,1611,England
19,"{'name': 'England', 'id': '0', 'alpha3code': '...",London,Arsenal,Arsenal FC,club,1609,England

In [209]:
coaches = pd.read_json("/Users/macbook/Desktop/Lev/Sapienza/ADM_Labs/HW2/Data/coaches.json")

In [211]:
team_id = set(teams["wyId"].unique())
coaches_id = set(coaches["currentTeamId"].unique())

In [198]:
matches = pd.read_json("/Users/macbook/Desktop/Lev/Sapienza/ADM_Labs/HW2/Data/matches/matches_England.json")



def format_score_team(a):#this func to emphasize the countries
    a = list(a)
    a = "".join(a).split(',')
    Home,Away = a[0].split('-')
    Score_home,Score_away = a[1].split('-')
    # [Away.strip()],Score_home.strip(),Score_away.strip()
    return Home.strip()
matches["First_team"] = matches["label"].apply(format_score_team)
def format_score_team(a):#this func to emphasize the countries
    a = list(a)
    a = "".join(a).split(',')
    Home,Away = a[0].split('-')
    Score_home,Score_away = a[1].split('-')
    # Away.strip(),Score_home.strip(),Score_away.strip()
    return Away.strip()
matches["Second_team"] = matches["label"].apply(format_score_team)
def format_score_team(a):#this func to emphasize the countries
    a = list(a)
    a = "".join(a).split(',')
    Home,Away = a[0].split('-')
    Score_home,Score_away = a[1].split('-')
    # Away.strip(),Score_home.strip(),Score_away.strip()
    return Score_home.strip()
matches["Score_first"] = matches["label"].apply(format_score_team)
def format_score_team(a):#this func to emphasize the countries
    a = list(a)
    a = "".join(a).split(',')
    Home,Away = a[0].split('-')
    Score_home,Score_away = a[1].split('-')
    # Away.strip(),Score_home.strip(),Score_away.strip()
    return Score_away.strip()
matches["Score_second"] = matches["label"].apply(format_score_team)

# the script to match the number of team and the name of team

name_number = dict(zip(list(teams["name"]),list(teams["wyId"])))
commands_numbers_1 = []
commands_numbers_2 = []
for i in matches.index:
    commands_numbers_1.append(name_number[matches["First_team"][i]])
    commands_numbers_2.append(name_number[matches["Second_team"][i]])
matches["First_command_id"] = commands_numbers_1
matches["Second_command_id"] = commands_numbers_2

def extractTeamsData(data,First_command_id,Second_command_id,i):
    a = pd.io.json.json_normalize((matches['teamsData'])[i][str(matches[str(First_command_id)][i])])
    b = pd.io.json.json_normalize((matches['teamsData'])[i][str(matches[str(Second_command_id)][i])])
    pref_1,pref_2 = a["side"][0],b["side"][0] #to understand for which command i have opened the dictrionary
    col_1,col_2 = list(a.columns),list(b.columns) 
    a.columns = list(map(lambda x: x + "_" + pref_1,col_1)) #add the prefix for columns to understand data belongs
    b.columns = list(map(lambda x: x + "_" + pref_2,col_2)) #add the prefix for columns to understand data belongs
    res = pd.merge( a,b,on = a.index,how='outer') #merge the 2 datas because it is for one match
    return res

data = pd.DataFrame()
for i in matches.index:
    data = data.append(extractTeamsData(matches,str("First_command_id"),str("Second_command_id"),i)) #create DataFrame of the teamData columns
data.reset_index(drop = True,inplace=True)
drop_col = ["key_0"]
data.drop(drop_col, inplace=True, axis=1)

matches_data = pd.merge(matches,data,on = matches.index,how='outer') #merge matches and data
drop_col = ["key_0"]
matches_data.drop(drop_col, inplace=True, axis=1)

In [214]:
matches_data.columns

Index(['competitionId', 'date', 'dateutc', 'duration', 'gameweek', 'label',
       'referees', 'roundId', 'seasonId', 'status', 'teamsData', 'venue',
       'winner', 'wyId', 'First_team', 'Second_team', 'Score_first',
       'Score_second', 'First_command_id', 'Second_command_id', 'coachId_home',
       'formation.bench_home', 'formation.lineup_home',
       'formation.substitutions_home', 'hasFormation_home', 'score_home',
       'scoreET_home', 'scoreHT_home', 'scoreP_home', 'side_home',
       'teamId_home', 'coachId_away', 'formation.bench_away',
       'formation.lineup_away', 'formation.substitutions_away',
       'hasFormation_away', 'score_away', 'scoreET_away', 'scoreHT_away',
       'scoreP_away', 'side_away', 'teamId_away'],
      dtype='object')

In [202]:
events = pd.read_json("/Users/macbook/Desktop/Lev/Sapienza/ADM_Labs/HW2/Data/events/events_England.json")
events

,eventId,eventName,eventSec,id,matchId,matchPeriod,playerId,positions,subEventId,subEventName,tags,teamId
0,8,Pass,2.758649,177959171,2499719,1H,25413,"[{'y': 49, 'x': 49}, {'y': 78, 'x': 31}]",85,Simple pass,[{'id': 1801}],1609
1,8,Pass,4.946850,177959172,2499719,1H,370224,"[{'y': 78, 'x': 31}, {'y': 75, 'x': 51}]",83,High pass,[{'id': 1801}],1609
2,8,Pass,6.542188,177959173,2499719,1H,3319,"[{'y': 75, 'x': 51}, {'y': 71, 'x': 35}]",82,Head pass,[{'id': 1801}],1609
3,8,Pass,8.143395,177959174,2499719,1H,120339,"[{'y': 71, 'x': 35}, {'y': 95, 'x': 41}]",82,Head pass,[{'id': 1801}],1609
4,8,Pass,10.302366,177959175,2499719,1H,167145,"[{'y': 95, 'x': 41}, {'y': 88, 'x': 72}]",85,Simple pass,[{'id': 1801}],1609
5,8,Pass,12.548934,177959177,2499719,1H,3319,"[{'y': 88, 'x': 72}, {'y': 75, 'x': 77}]",85,Simple pass,[{'id': 1802}],1609
6,8,Pass,13.961228,177959186,2499719,1H,8653,"[{'y': 25, 'x': 23}, {'y': 15, 'x': 39}]",82,Head pass,[{'id': 1801}],1631
7,1,Duel,14.765321,177959189,2499719,1H,8013,"[{'y': 15, 'x': 39}, {'y': 20, 'x': 33}]",10,Air duel,"[{'id': 701}, {'id': 1802}]",1631
8,1,Duel,14.765321,177961218,2499719,1H,0,"[{'y': 85, 'x': 61}, {'y': 80, 'x': 67}]",10,Air duel,"[{'id': 703}, {'id': 1801}]",1609
9,8,Pass,15.320341,177959178,2499719,1H,167145,"[{'y': 80, 'x': 67}, {'y': 61, 'x': 59}]",82,Head pass,"[{'id': 1401}, {'id': 1801}]",1609
10,8,Pass,18.051875,177959179,2499719,1H,49876,"[{'y': 61, 'x': 59}, {'y': 45, 'x': 45}]",82,Head pass,[{'id': 1801}],1609
11,8,Pass,20.426527,177959180,2499719,1H,14869,"[{'y': 45, 'x': 45}, {'y': 54, 'x': 71}]",83,High pass,[{'id': 1801}],1609
12,1,Duel,21.878309,177959191,2499719,1H,8653,"[{'y': 46, 'x': 29}, {'y': 41, 'x': 50}]",10,Air duel,"[{'id': 703}, {'id': 1801}]",1631
13,1,Duel,22.551816,177959181,2499719,1H,25413,"[{'y': 54, 'x': 71}, {'y': 59, 'x': 50}]",10,Air duel,"[{'id': 701}, {'id': 1802}]",1609
14,8,Pass,24.588310,177959182,2499719,1H,3560,"[{'y': 59, 'x': 50}, {'y': 69, 'x': 76}]",83,High pass,[{'id': 1802}],1609
15,8,Pass,25.904249,177959194,2499719,1H,8653,"[{'y': 31, 'x': 24}, {'y': 15, 'x': 42}]",82,Head pass,[{'id': 1801}],1631
16,8,Pass,27.527696,177959195,2499719,1H,8013,"[{'y': 15, 'x': 42}, {'y': 26, 'x': 29}]",82,Head pass,[{'id': 1801}],1631
17,8,Pass,29.980898,177959196,2499719,1H,265366,"[{'y': 26, 'x': 29}, {'y': 8, 'x': 37}]",85,Simple pass,[{'id': 1801}],1631
18,8,Pass,31.163870,177959197,2499719,1H,8013,"[{'y': 8, 'x': 37}, {'y': 5, 'x': 23}]",85,Simple pass,[{'id': 1801}],1631
19,8,Pass,32.805618,177959202,2499719,1H,14853,"[{'y': 5, 'x': 23}, {'y': 19, 'x': 63}]",83,High pass,[{'id': 1802}],1631
20,8,Pass,35.685082,177959184,2499719,1H,370224,"[{'y': 81, 'x': 37}, {'y': 95, 'x': 45}]",82,Head pass,[{'id': 1802}],1609
21,8,Pass,36.661264,177959204,2499719,1H,14763,"[{'y': 5, 'x': 55}, {'y': 22, 'x': 67}]",82,Head pass,[{'id': 1801}],1631
22,1,Duel,38.191874,177959205,2499719,1H,12829,"[{'y': 22, 'x': 67}, {'y': 15, 'x': 71}]",13,Ground loose ball duel,"[{'id': 703}, {'id': 1801}]",1631
23,1,Duel,38.191874,177961219,2499719,1H,0,"[{'y': 78, 'x': 33}, {'y': 85, 'x': 29}]",13,Ground loose ball duel,"[{'id': 701}, {'id': 1802}]",1609
24,8,Pass,39.940109,177959206,2499719,1H,14763,"[{'y': 15, 'x': 71}, {'y': 26, 'x': 81}]",86,Smart pass,"[{'id': 901}, {'id': 1802}]",1631
25,8,Pass,43.045831,177959185,2499719,1H,3560,"[{'y': 74, 'x': 19}, {'y': 53, 'x': 4}]",85,Simple pass,[{'id': 1801}],1609
26,8,Pass,44.425679,177959187,2499719,1H,7882,"[{'y': 53, 'x': 4}, {'y': 44, 'x': 40}]",84,Launch,[{'id': 1801}],1609
27,1,Duel,47.717508,177959210,2499719,1H,192748,"[{'y': 56, 'x': 60}, {'y': 49, 'x': 56}]",10,Air duel,"[{'id': 703}, {'id': 1801}]",1631
28,1,Duel,48.265872,177959188,2499719,1H,7945,"[{'y': 44, 'x': 40}, {'y': 51, 'x': 44}]",10,Air duel,"[{'id': 701}, {'id': 1802}]",1609
29,1,Duel,49.182566,177959213,2499719,1H,149019,"[{'y': 49, 'x': 56}, {'y': 54, 'x': 45}]",12,Ground defending duel,"[{'id': 504}, {'id': 701}, {'id': 1802}]",1631
...,...,...,...,...,...,...,...,...,...,...,...,...
643120,8,Pass,2730.025560,251596196,2500098,2H,8561,"[{'y': 52, 'x': 34}, {'y': 66, 'x': 37}]",85,Simple pass,[{'id': 1801}],1633
643121,8,Pass,2732.694515,251596198,2500098,2H,37725,"[{'y': 66, 'x': 37}, {'y': 62, 'x': 45}]",85,Simple pass,[{'id': 1801}],1633
643122,8,Pass,2733.173494,251596199,2500098,2H,20620,"[{'y': 62, 'x': 45}, {'y': 91, 'x': 38}]",85,Simple pass,[{'id': 1801}],1633
643123,7,Others on the ball,2735.043610,251596202,2500098,2H,379209,"[{'y': 91, 'x': 38}, {'y': 91, 'x': 74}]",70,Acceleration,[{'id': 1801}],1633
643124,8,Pass,2741.371988,251596204,2500098,2H,379209,"[{'y': 91, 'x': 74}, {'y': 68, 'x': 57}]",85,Simple pass,[{'id': 1801}],1633
643125,8,Pass,2742.418880,251596206,2500098,2H,20620,"[{'y': 68, 'x': 57}, {'y': 89, 'x': 62}]",85,Simple pass,[{'id': 1801}],1633
643126,8,Pass,2743.534946,251596207,2500098,2H,379209,"[{'y': 89, 'x': 62}, {'y': 64, 'x': 63}]",85,Simple pass,[{'id': 1801}],1633
643127,8,Pass,2746.848378,251596209,2500098,2H,37725,"[{'y': 64, 'x': 63}, {'y': 40, 'x': 55}]",85,Simple pass,[{'id': 1801}],1633
643128,8,Pass,2748.321677,251596211,2500098,2H,21100,"[{'y': 40, 'x': 55}, {'y': 51, 'x': 55}]",85,Simple pass,[{'id': 1801}],1633
643129,8,Pass,2750.561883,251596212,2500098,2H,37725,"[{'y': 51, 'x': 55}, {'y': 67, 'x': 60}]",85,Simple pass,[{'id': 1801}],1633
643130,8,Pass,2753.232101,251596214,2500098,2H,20620,"[{'y': 67, 'x': 60}, {'y': 77, 'x': 66}]",85,Simple pass,[{'id': 1801}],1633
643131,8,Pass,2755.809381,251596215,2500098,2H,8313,"[{'y': 77, 'x': 66}, {'y': 80, 'x': 60}]",85,Simple pass,[{'id': 1801}],1633
643132,8,Pass,2758.481252,251596216,2500098,2H,8561,"[{'y': 80, 'x': 60}, {'y': 56, 'x': 57}]",85,Simple pass,[{'id': 1801}],1633
643133,8,Pass,2758.973892,251596217,2500098,2H,37725,"[{'y': 56, 'x': 57}, {'y': 63, 'x': 65}]",85,Simple pass,[{'id': 1801}],1633
643134,8,Pass,2760.286946,251596219,2500098,2H,8313,"[{'y': 63, 'x': 65}, {'y': 96, 'x': 61}]",85,Simple pass,[{'id': 1801}],1633
643135,8,Pass,2763.698599,251596221,2500098,2H,379209,"[{'y': 96, 'x': 61}, {'y': 85, 'x': 40}]",85,Simple pass,[{'id': 1801}],1633
643136,7,Others on the ball,2766.359485,251596222,2500098,2H,8561,"[{'y': 85, 'x': 40}, {'y': 84, 'x': 62}]",72,Touch,[],1633
643137,1,Duel,2769.548083,251596405,2500098,2H,56,"[{'y': 16, 'x': 38}, {'y': 17, 'x': 41}]",12,Ground defending duel,"[{'id': 701}, {'id': 1802}]",1623
643138,1,Duel,2769.675442,251596223,2500098,2H,8561,"[{'y': 84, 'x': 62}, {'y': 83, 'x': 59}]",11,Ground attacking duel,"[{'id': 703}, {'id': 1801}]",1633
643139,2,Foul,2771.985870,251596406,2500098,2H,56,"[{'y': 17, 'x': 41}, {'y': 16, 'x': 38}]",20,Foul,[],1623
643140,3,Free Kick,2780.300522,251596224,2500098,2H,0,"[{'y': 81, 'x': 70}, {'y': 70, 'x': 59}]",31,Free Kick,[{'id': 1801}],1633
643141,8,Pass,2783.137836,251596225,2500098,2H,8561,"[{'y': 70, 'x': 59}, {'y': 89, 'x': 53}]",85,Simple pass,[{'id': 1801}],1633
643142,8,Pass,2785.702032,251596226,2500098,2H,20620,"[{'y': 89, 'x': 53}, {'y': 72, 'x': 99}]",83,High pass,[{'id': 1801}],1633
643143,8,Pass,2789.232666,251596229,2500098,2H,14703,"[{'y': 72, 'x': 99}, {'y': 0, 'x': 0}]",80,Cross,"[{'id': 402}, {'id': 2101}, {'id': 1802}]",1633
643144,7,Others on the ball,2790.457942,251596408,2500098,2H,8239,"[{'y': 31, 'x': 2}, {'y': 32, 'x': 0}]",72,Touch,[{'id': 1401}],1623
643145,5,Interruption,2796.732525,251596409,2500098,2H,0,"[{'y': 32, 'x': 0}, {'y': 100, 'x': 100}]",50,Ball out of the field,[],1623
643146,3,Free Kick,2829.821084,251596232,2500098,2H,70965,"[{'y': 100, 'x': 100}, {'y': 47, 'x': 88}]",30,Corner,"[{'id': 302}, {'id': 801}, {'id': 1801}]",1633
643147,1,Duel,2831.211419,251596410,2500098,2H,7919,"[{'y': 53, 'x': 12}, {'y': 50, 'x': 14}]",10,Air duel,"[{'id': 701}, {'id': 1802}]",1623
643148,1,Duel,2832.434399,251596234,2500098,2H,8005,"[{'y': 47, 'x': 88}, {'y': 50, 'x': 86}]",10,Air duel,"[{'id': 703}, {'id': 1801}]",1633
643149,10,Shot,2834.127168,251596236,2500098,2H,8005,"[{'y': 50, 'x': 86}, {'y': 0, 'x': 0}]",100,Shot,"[{'id': 403}, {'id': 201}, {'id': 1216}, {'id'...",1633